@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 99vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.heading {
    font-size: 8rem;
    font-weight: bold;
}

.photoContainer {
    display: grid;
    border: 2px black solid;
    background-color: grey;
    width: 420px;
    height: 420px;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.photoContainer img {
    width: 100%;
    height: auto;
    filter: saturate(0) contrast(1.8);
}

.subheading {
    font-size: 3rem;
    font-weight: 900;
}

.person {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.loadingContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all ease-in-out 1000ms;
}

.loadingContainer img {
    /* border: 1px solid red; */
    width: 64px;
    height: auto;
}